body {
  background-image: url("../images/bgimg.jpg");
  background-repeat: repeat-y;
  background-color: #151618;
  background-position: center;
  clear: both;
  background-size: cover;
}

#logonav {
  padding-left: 14px;
}

#homerow {
  margin-top: 3%;
}

.cards {
  display: inline-block !important;
  margin: 2%;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
}

.link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.link:visited {
  text-decoration: none;
}

.link {
  color: white;
}
