body {
  background-image: url("../images/bgimg.jpg");
  background-repeat: repeat-y;
  background-color: #151618;
  background-position: center;
  clear: both;
  background-size: cover;
}

#logonav {
  padding-left: 14px;
}

#homerow {
  margin-top: 3%;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
}
